.font-size-20 {
  font-size: 20px;
}
.completed-task {
  color: green;
}

.pending-task {
  color: orange;
}

.toast {
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  z-index: 1000;
}
.toast-body {
  font-size: 18px;
  font-weight: 600;
}
.show-pointer {
  cursor: pointer;
}
.font-size-12 {
  font-size: 12px;
}
